h1 {
    font-size: 4em;
    font-family:sans-serif;
}
p {
    font-family:sans-serif;
}
h1,p {
    margin: .2em;
    padding: .2em;
}
.socialicon {
    width:2em;
    height:2em;
    margin:1em;
}
.socialicon:hover{
    opacity:0.8;
}